@import '../../../constants/global.scss';

.img-slider-items {
  & .slider-item {
    max-width: 20px;
    max-height: 20px;
    color: $primaryColor;

    &_active {
      max-width: 20px;
      max-height: 20px;
      color: $transparentPrimaryColor;
    }
  }
}