@import '../../constants/global';

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  max-width: 100%;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 20px;
}

.info-block {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;

  & h6 {
    font-size: 18px;
    margin-left: 6px;
    color: $primaryColor;
  }
}

h6 {
  margin-bottom: 6px;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.info-card {
  width: 100%;
  padding: 6px 10px;
  border: 2px solid $primaryColor;
  border-radius: 10px;
}

.item {
  min-height: 61px;
  font-size: 16px;
  font-weight: normal;
  padding: 4px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid $primaryColor;

  &__name {
    color: #616161;
  }
}

.item:last-child {
  border: none;
}

.confirm-edit-btns {
  margin-top: 15px;
  max-width: 266px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
}
