@import '../../../constants/var';
@import '../../../constants/mixins';

.form {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column wrap;
  row-gap: 18px;

  & .confirm-btns {
    margin-top: 15px;
    max-width: 166px;
    width: 100%;

    @include flex-spaceBtw;
  }

  & .input_default {
    max-width: 350px;
    width: 100%;
  }
}

