@import '../../constants/mixins.scss';
@import '../../constants/var.scss';

.confirm-edit-btns {
  max-width: 166px;
  width: 100%;
  @include flex-spaceBtw;
  position: absolute;
  right: 0;
  top: 0;
}

.edit_btn {
  cursor: pointer;
  color: #616161;
  position: absolute;
  right: 0;
  top: 0;
}