$errorColor: #d32f2f;
$backgroundPrimaryColor: #f9f9f9;
$textColor: #110C07;
$secondaryColor: #6A1F11;
$primaryColor: #273036;
$thirdColor: #3B4851;
$transparentPrimaryColor: #273036ab;
$modalBackgroundColor: rgb(41 41 41 / 85%);
