$white: #fff;
$black: #000;
$red: #d32f2f;

$darkWhite: #f9f9f9;
$lightBlack: #110C07;
$bloodRed: #6A1F11;
$darkBlue: #273036;
$translucentDarkBlue: #273036;
$grayBlue: #3B4851;

$brown: #432E1D;

$fontRoboto: "Roboto", sans-serif;
