$white: #fff;
$black: #000;
$red: #d32f2f;
$darkWhite: #f9f9f9;
$lightBlack: #110C07;
$bloodRed: #6A1F11;
$darkBlue: #273036;
$grayBlue: #3B4851;
$lightBlue: #273036ab;
$brown: #432E1D;
$transparentBlack: rgb(41 41 41 / 85%);
$fontRoboto: "Roboto", sans-serif;
