.input {
  border-radius: 10px !important;
  padding: 0;
  background: #F9F9F9;
  font-size: 18px;
  letter-spacing: .06rem;
  color: #110C07;
}

.password__btn {
  background: none;
  border: none;
  padding: 0;
  height: 0;
}