@import '../../../constants/var.scss';

button.button {
  padding: 8px 24px;
  font-size: 16px;
  background: $darkBlue;
}
button.button:hover {
  background: $grayBlue;
}

button.button_small {
  padding: 4px 10px;
  font-size: 12px;
}
