.main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #6A1F11;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}