@import '../../constants/global';

.main {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: $secondaryColor;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
}
