@import '../../../constants/global';

.form_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  & p {
    margin-top: 0;
  }
}

.form__personal-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.form__address-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
  
  & p {
    margin-top: 0;
    position: absolute;
    bottom: -17px;
  }
  
  &__child {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
  }
}

.label {
  position: absolute;
  top: -26px;
  left: 4px;
  color: $primaryColor;
  font-size: 16px;
  font-weight: 200;
  font-family: Roboto, sans-serif;
}

.input_default {
  max-width: 350px;
  width: 100%;
}

.input_mini {
  max-width: 170px;
  width: 100%;
}

.checkbox {
  font-size: 14px;
  color: $textColor;
}

.datePicker-wrapper {
  text-align: center;
}

.error-message {
  font-family: Roboto, sans-serif;
  color: $errorColor;
  font-size: 12px;
  margin-top: 5px;
}

.data div {
  padding: 6px;
  border-radius: 10px;
}

.data input {
  padding: 8px;
  border-radius: 10px;
}

@media (width <= 500px) {
  .form__personal-info p {
    margin-top: 0;
    position: absolute;
    bottom: -17px;
  }
  
  .form__address-info {
    row-gap: 16px;
  }  
}
