@import '../../constants/var.scss';
@import '../../constants/mixins.scss';

.profile {
  background: $darkBlue;
  min-height: calc(100vh - 100px);
  height: 100%;
  padding: 20px 15px;
  @include flex-center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  &__inner {
    max-width: 570px;
    width: 100%;
    min-height: 50vh;
    height: 100%;
    padding: 15px 25px;
    background: $darkWhite;
    border-radius: 20px;
    @include flex-column-center;
    row-gap: 20px;


    & h4 {
      text-align: center;
      font-size: 22px;
      font-weight: normal;
    }
  }

  &__info-block {
    margin: 0 auto;
    max-width: 432px;
    width: 100%;

    & .item {
      font-size: 16px;
      font-weight: normal;
      padding: 10px 15px;
      @include flex-spaceBtw;
      border-bottom: 2px solid $darkBlue;
    
      &__name {
        color: #616161;
        @include flex-spaceBtw;
        column-gap: 5px;
      }
    }
    & .item:last-child {
      border: none;
    }
  }

  & h6 {
    font-weight: normal;
    font-size: 18px;
    text-align: left;
  }
}

.personal-info {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid $darkBlue;
  border-radius: 10px;
}

.account-info {
  padding: 15px 20px;
  border: 2px solid $darkBlue;
  border-radius: 10px;
}