@import '../../constants/var';
@import '../../constants/mixins';

.header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
  width: 100%;
  min-height: 100px;

  @include flex-row-spaceBtw;

  background: $darkWhite;

  & a {
    text-decoration: none;
    color: $black;
  }

  &__nav {
    max-width: 250px;
    width: 100%;

    @include flex-center;

    column-gap: 30px;
  }
}

.nav__btn {
  padding: 8px 10px;
  border: 2px solid $darkBlue;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  color: $black;
  font-family: Roboto, sans-serif;
  transition: all .2s linear;

  &:hover {
    color: $darkWhite;
    background: $darkBlue;
  }
}

.nav__icon {
  color: $darkBlue;
  transition: all .2s linear !important;

  &:hover {
    color: $darkWhite;
    border-radius: 50%;
    padding: 10px;
    background: $darkBlue;
  }
}
