@import '../../../constants/global';

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  & p {
    margin-top: 0;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;

  & * {
    min-height: 25px;
    
    & * {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
    }
  }
}

.form__password-info {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.label {
  position: absolute;
  top: -26px;
  left: 4px;
  color: $primaryColor;
  font-size: 16px;
  font-weight: 200;
  font-family: Roboto, sans-serif;
}

.input_default {
  max-width: 350px;
  width: 100%;
}

.input_mini {
  max-width: 170px;
  width: 100%;
}
