@import '../../constants/global';

.login {
  &__inner {
    max-width: 500px;
    width: 100%;
    padding: 30px 30px 15px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 16px;
    background: $backgroundPrimaryColor;
  }

  &__title {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
  }

  &__to-register {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color:  $primaryColor;

    & span {
      color:  $secondaryColor;
      font-weight: bold;
    }
  }

  &__to-register:hover {
    cursor: pointer;
  }

}

@media (width <= 500px) {
  .login {
    &__inner {
      max-width: 390px;
      padding: 15px;
      row-gap: 90px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
  }
}
