@import '../../constants/var.scss';
@import '../../constants/mixins.scss';

.login {
  &__inner {
    max-width: 500px;
    width: 100%;
    padding: 30px 30px 15px;
    border-radius: 40px;
    @include flex-column-center;
    row-gap: 16px;
    background: $darkWhite;
  }

  &__title {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }

  &__form {
    @include flex-column-center;
    row-gap: 18px;
  }

  &__btns {
    @include flex-row-spaceBtw;
    column-gap: 30px;

    & * {
      min-height: 25px;
      
      & * {
        color:  $white;
        text-decoration: none;
        @include flex-row-center;
        column-gap: 5px;
      }
    }
  }

  &__to-register {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color:  $darkBlue;

    & span {
      color:  $bloodRed;
      font-weight: bold;
    }
  }
  &__to-register:hover {
    cursor: pointer;
  }

}

.input_default {
  max-width: 350px;
  width: 100%;
}
.input_mini {
  max-width: 170px;
  width: 100%;
}

@media (max-width: 500px) {
  .login {
    &__inner {
      max-width: 390px;
      padding: 15px;
      row-gap: 90px;
    }
  }

  .content {
    @include flex-column-center;
    row-gap: 15px;
  }
}
