.register {
  &__inner {
    max-width: 500px;
    width: 100%;
    padding: 20px 30px 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
    background: #f9f9f9;
  }
  
  &__step-title {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }

  &__form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    & * {
      min-height: 28px;
    }
  }

  &__to-login {
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #273641;

    & span {
      color: #6A1F11;
      font-weight: bold;
    }
  }
  &__to-login:hover {
    cursor: pointer;
  }
}

.form__personal-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.form__personal-info p {
  margin-top: 0;
  position: absolute;
  bottom: -17px;
}

.form__address-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;

  & p {
    margin-top: 0;
    position: absolute;
    bottom: -17px;
  }
  
  &__child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form__password-info {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.label {
  position: absolute;
  top: -26px;
  left: 4px;
  color: #273036;
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.input_default {
  max-width: 350px;
  width: 100%;
}
.input_mini {
  max-width: 170px;
  width: 100%;
}

.datePicker-wrapper {
  text-align: center;
}

.error-message {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #d32f2f;
  font-size: 12px;
  margin-top: 5px;
}
