@import '../../constants/var.scss';
@import '../../constants/mixins.scss';

.register {
  &__inner {
    max-width: 500px;
    width: 100%;
    padding: 20px 30px 15px;
    border-radius: 40px;
    @include flex-column-center;
    row-gap: 14px;
    background: $darkWhite;
  }
  
  &__step-title {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }

  &__form {
    margin-top: 10px;
    @include flex-column-center;
    row-gap: 16px;
  }

  &__btns {
    @include flex-spaceBtw;
    column-gap: 30px;

    & * {
      min-height: 25px;
      
      & * {
        color: $white;
        text-decoration: none;
        @include flex-row-center;
        column-gap: 5px;
      }
    }
  }

  &__to-login {
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: $darkBlue;

    & span {
      color: $bloodRed;
      font-weight: bold;
    }
  }
  &__to-login:hover {
    cursor: pointer;
  }
}

.form__personal-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 20px;
  @include flex-row-center;
  row-gap: 16px;
}

.form__address-info {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
  
  & p {
    margin-top: 0;
    position: absolute;
    bottom: -17px;
  }
  
  &__child {
    width: 100%;
    @include flex-column-spaceBtw;
    column-gap: 10px;
  }
}

.form__password-info {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.label {
  position: absolute;
  top: -26px;
  left: 4px;
  color: $darkBlue;
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.input_default {
  max-width: 350px;
  width: 100%;
}
.input_mini {
  max-width: 170px;
  width: 100%;
}

.checkbox {
  font-size: 14px;
  color: $lightBlack;
}

.datePicker-wrapper {
  text-align: center;
}

.error-message {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $red;
  font-size: 12px;
  margin-top: 5px;
}

.data div {
  padding: 6px;
  border-radius: 10px;
}
.data input {
  padding: 8px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .register {
    &__inner {
      max-width: 390px;
      padding: 15px;
      row-gap: 90px;
    }
    
    &__step-title {
      font-size: 30px;
      font-family: 'Cormorant Garamond', serif;
      text-align: center;
    }
  }

  .content {
    @include flex-column-center;
    row-gap: 15px;
  }

  .form__personal-info p {
    margin-top: 0;
    position: absolute;
    bottom: -17px;
  }
  
  .form__address-info {
    row-gap: 16px;
  }  
}
