@import '../../constants/global';

.authRoot {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets//lines.png"), linear-gradient(120.15deg, $primaryColor 1.11%, $primaryColor 100.53%);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 500px) {
  .authRoot {
    padding: 20px 0;
    background: $backgroundPrimaryColor;
    align-items: flex-start;
  }
}