@import './constants/var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.app {
  font-size: 30px;
  background: $darkWhite;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #9c9c9c $darkWhite;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $darkWhite;
}

*::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 10px;
  border: 3px solid $white;
}
