.input {
  border-radius: 20px;
  border: 2px solid #E0DEE0;
  background: #F9F9F9;
  font-size: 18px;
  letter-spacing: .06rem;
  color: #110C07;
}

.input_mini {
  max-width: 170px;
  width: 100%;
}