.textInput {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #E0DEE0;
  background: #F9F9F9;
  font-size: 18px;
  letter-spacing: .06rem;
  color: #110C07;
}